html{
    position:fixed;
    background: #131313;
}
div1{
    position: absolute;
    width: 177px;
    height: 59px;
    left: 300px;
    top: 0px;

    font-family: 'Caveat';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: #1ACD4C;
}
div2{
    position: absolute;
    width: 214px;
    height: 59px;
    left: 450px;
    top: 0px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
    margin: 0 16 0 16 rem;
}
div3{
    position: absolute;
    height: 59px;
    left: 685px;
    top: 0px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: right;
    text-transform: uppercase;

    color: #FFFFFF;
}
div4{
    position: absolute;
    height: 59px;
    left: 760px;
    top: 0px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: right;
    text-transform: uppercase;

    color: #FFFFFF;
}
div5{
    position: absolute;
    height: 59px;
    Width: 1014px;
    left: 880px;
    top: 0px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: right;
    text-transform: uppercase;

    color: #FFFFFF;
}
div6{
    position: absolute;
    height: 59px;
    Width: 1014px;
    left: 1098px;
    top: 0px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: right;
    text-transform: uppercase;

    color: #FFFFFF;
}
div7{
    position: absolute;
    height: 59px;
    left: 1245px;
    top: 0px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: right;
    text-transform: uppercase;

    color: #FFFFFF;
}
a{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: right;
    text-transform: uppercase;

    color: #FFFFFF; 
    text-decoration: none;
}
#main{
    font-family: 'Caveat';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: #1ACD4C;  
}
div8{
    position: absolute;
    width: 517px;
    height: 41px;
    left: 300px;
    top: 100px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 37px;

    color: #FFFFFF;
}
thread{
    color: #FFFFFF;
}
tr{
    color: #FFFFFF;
    font-size: 15px;
}
td{
    padding: 8px;
}
table{
    position: fixed;
    top: 20%;
    left: 300px;
    
}
.table{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;

    color: #727272;
    position:relative;
    border-style: solid;
    border-right-width: 100px;
    border-color:#131313;
}
.right{
    border-style: solid;
    border-color:#272727;
    border-width: 1px;
    border-right-width: 0ch;
}
.left{
    border-style: solid;
    border-color:#272727;
    border-width: 1px;
    border-left-width: 0ch;
}
.left-right{
    border-style: solid;
    border-color:#272727;
    border-width: 1px;
    border-right-width: 0ch;
    border-left-width: 0ch;
}
div10{
    display:inline-block;
    color: #FFFFFF;
    position: fixed;
    left: 48%;
    top: 90%;
}
p1{
    color: #FFFFFF;
    position: fixed;
    left: 40%;
    top: 90%;
}
p2{
    color: #FFFFFF;
    position: fixed;
    left: 60%;
    top: 90%;
}

